/** @format */

.loading-shimmer {
  animation: shimmer 2s infinite linear;

  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

.line {
  @apply w-full h-12 mb-2 rounded-lg;
}
